* {
  margin: 0;
  padding: 0;
  font-family: Prompt;
  animation: fadeInAnimation 1.5s;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;


}


.eccs {
  display: flex;
  justify-content: center;
  align-items: center;

}

/* texto grande */
.eccstext {
  position: relative;
  font-size: 230px;
  /* ajuste conforme seu layout */
  font-weight: 800;
  margin: 0;
  letter-spacing: 1px;
  color: #aab2c5;
  z-index: 999;
}

/* imagem dentro do texto */
.eccsimg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  /* ajuste fino */
  pointer-events: none;
  opacity: 1;
  z-index: -999;
  filter: drop-shadow(0 10px 45px rgba(255, 255, 255, 0.6)) drop-shadow(0 0 20px rgba(100, 150, 255, 0.4));
}

.divhrinfo {
  display: flex;
  justify-content: center;
  background: #2f4674;

}

.hrinfo {

  width: 500px;
  height: 0.1vh;
  border: 1px solid #aab2c5;

  background-color: #aab2c5;


  margin-top: 2.5rem;



}

/* animação só na imagem */
.floating {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translate(-50%, -50%) translateY(0px);
  }

  50% {
    transform: translate(-50%, -50%) translateY(-12px);
  }

  100% {
    transform: translate(-50%, -50%) translateY(0px);
  }
}

.sidebar {
  position: fixed;
  right: 0rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
  gap: 0.5rem;
  padding: 1rem;
  font-style: italic;
  justify-content: center;
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-number {
  width: 30px;
  height: 50px;
  border-radius: 40px;
  border: none;
  font-weight: 100;
  cursor: pointer;
  transition: all 1s ease-in-out;
  font-size: 13px;
  color: #aab2c5;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Prompt";
  font-style: italic;
  letter-spacing: 0.5px;
}

/* Seção ativa */
.sidebar-number.active {



  transform: scale(1.2);

  color: #aab2c5;
  border: none;
  font-family: "Prompt";
  font-style: italic;
  font-size: 15px;
  font-weight: 700;

}

.sidebar-line {
  width: 1px;
  height: 40px;
  background: #aab2c5;
  margin: 6px auto;
  position: relative;
  overflow: hidden;
}

.sidebar-line-fill {
  position: absolute;
  top: 0;
  /* <<< ESSENCIAL */
  width: 100%;
  height: 0%;
  background: #2f4674;
  transition: height 0.15s linear;
}


/* Linha da seção ativa */
.sidebar-line.active-line {
  background-color: #aab2c5;






}

.iconssocial {
  color: #2f4674;
  font-size: 23px;




}

.divsocials {
  display: flex;
  align-items: center;
  color: #aab2c5;
  font-size: 28px;
  border-left: 2px solid #aab2c5;
  gap: 0.3rem;
  padding: 0.5rem;
}

.socials {
  color: #aab2c5;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.3px;



}

.number {
  font-size: 55px;
  font-weight: 800;
  font-style: italic;
  line-height: 100%;


}

.divzero {
  background-color: #2f4674;
}

.zero {
  font-weight: 800;
  font-size: 100px;
  color: #aab2c5;
  font-style: italic;
}

.zero1 {
  font-weight: 800;
  font-size: 100px;
  color: #aab2c5;
  font-style: italic;
  padding-left: 5rem;
  line-height: 150%;
}

.zero4 {
  font-weight: 800;
  font-size: 100px;
  color: #aab2c5;
  font-style: italic;
  padding-left: 5rem;
}

.color {

  height: 100vh;
  background-color: #2f4674;
  padding-bottom: 5rem;

}

.eccstexttop {
  font-size: 22px;
  font-weight: 800;

  letter-spacing: 0.5px;
  color: #aab2c5;
  border-left: 2px solid #aab2c5;
  padding: 1rem;

}

.eccstextbottom {
  font-size: 25px;
  font-weight: 200;

  width: 350px;
  letter-spacing: 0.3px;
  color: #aab2c5;
  font-style: italic;
  border-left: 2px solid #aab2c5;
  margin-left: 5rem;
  padding: 1rem;

}

.titleservico {
  font-size: 60px;
  width: 700px;

  line-height: 110%;
  color: #aab2c5;
  border-left: 2px solid #aab2c5;
  height: 100%;
  padding-left: 1rem;
  padding-bottom: 1rem;

}

.infos-title {}

.divtitleservico {}



.divfullservico {
  height: 85vh;
  background-color: #2f4674;
  padding-left: 5rem;




}






.divinfos {
  background-color: #2f4674;
  width: 100%;

}

.divinfotop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 5rem;
}

.divboards {

  width: 100%;
  display: flex;

  gap: 3rem;







}

.wpp {
  font-size: 18px;
  font-weight: 400;
  color: #2f4674;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  letter-spacing: 0.3px;
}

.buttonwpp {
  border: none;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 145px;

}

.divsocialtop {
  background-color: #aab2c5;




  display: flex;
  justify-content: center;
  align-items: center;




}

.boards {

  padding: 3rem;
  background-color: #aab2c5;
  clip-path: polygon(24px 0%,
      100% 0%,
      100% calc(100% - 24px),
      calc(100% - 24px) 100%,
      0% 100%,
      0% 24px);
  color: #2f4674;
  margin-top: 1.5rem;




}

.titles {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.3px;
  line-height: 100%;
}



.h2boards {
  font-size: 22px;
  letter-spacing: 0.3px;
  width: 380px;
  font-weight: 200;
  line-height: 125%;
  padding-top: 0.6rem;




}

.hr {
  width: 20px;
  border: 1px solid #2f4674;

}

.strongnumber {
  font-size: 50px;
  font-weight: 800;
  font-style: italic;


}



.infos {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;

  width: 100%;


  background-color: #2f4674;
  color: #aab2c5;


}

.eccstextinfo {
  color: #aab2c5;
  font-size: 72px;
  font-weight: 800;
  letter-spacing: 0.5px;

}

.siga {
  color: #aab2c5;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.divcopy {
  display: flex;
  justify-content: center;
}

.copy {
  font-size: 12px;
  font-weight: 400;
  padding-top: 3rem;

  color: #aab2c5;
  letter-spacing: 0.5px;
  padding-bottom: 0.1rem;
}

.socialinfo {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}


.infos-title {
  font-size: 84px;
  font-weight: 800;
  line-height: 1.12;
  letter-spacing: 1.2px;

  display: flex;
  flex-direction: column;

  align-items: center;


}

/* linhas */

.infos-title span {
  display: block;
}

/* deslocamento lateral para criar o design */

.l1 {
  transform: translateX(0px);
}

.l2 {
  transform: translateX(100px);
}

.l3 {
  transform: translateX(-60px);
}

.l4 {
  transform: translateX(70px);
}

.l5 {
  transform: translateX(-100px);
}

.l6 {
  transform: translateX(110px);
}

@media screen and (max-width: 1700px) {
  .divfullservico {
    height: 100%;

  }



  .divboards {
    flex-direction: column;
    gap: 1.5rem;

  }

  .color {
    padding-bottom: 0;
  }

  .boards {
    width: 400px;
  }

  .eccstextbottom {}

  .divboards {
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 1300px) {
  .eccsimg {
    width: 400px;
  }

  .eccstext {
    font-size: 200px;
  }
}

@media screen and (max-width: 1200px) {
  .infos-title {
    font-size: 60px;
  }
}

@media screen and (max-width: 1000px) {
  .eccstextbottom {
    margin-top: 4rem;

  }

  .titleservico {
    font-size: 45px;
    width: 450px;
  }

  .infos {
    justify-content: start;


  }

  .infos-title {
    padding-left: 5rem;
  }





}

@media screen and (max-width: 800px) {
  .eccstext {
    font-size: 150px;
  }

  .eccsimg {
    width: 350px;
  }

  .boards {
    width: 310px;
    padding: 2rem;
  }

  .color {
    height: 100%;
  }

  .zero1 {
    padding-left: 2rem;
  }

  .h2boards {
    width: 300px;
  }

  .socialinfo {
    flex-direction: column-reverse;
  }

  .divinfotop {
    padding: 2rem;
  }

  .divfullservico {
    padding: 2rem;
  }

  .eccstextbottom {
    margin-left: 2rem;

  }

  .infos-title {
    padding-left: 2rem;
    font-size: 50px;
  }

  .eccstextinfo {
    font-size: 50px;
  }

  .l1 {
    transform: translateX(0px);
  }

  .l2 {
    transform: translateX(80px);
  }

  .l3 {
    transform: translateX(-40px);
  }

  .l4 {
    transform: translateX(40px);
  }

  .l5 {
    transform: translateX(-70px);
  }

  .l6 {
    transform: translateX(50px);
  }

  .zero4 {
    padding-left: 2rem;
  }

  .hrinfo {
    width: 350px;
  }
}

@media screen and (max-width: 700px) {


  .eccstextbottom {}

  .zero {}


}

@media screen and (max-width: 600px) {

  .eccstext {
    font-size: 120px;
  }

  .eccstexttop {
    font-size: 16px;
  }

  .eccstextbottom {
    font-size: 18px;
    width: 280px;
    line-height: 125%;
  }

  .titleservico {
    font-size: 34px;
    width: 300px;
  }

  .hrinfo {
    width: 200px;
  }

  .infos-title {
    font-size: 25px;
  }

  .eccstextinfo {
    font-size: 50px;

  }

  .eccstext {
    font-size: 100px;
  }

  .eccsimg {
    width: 250px;

  }

  .eccs {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .divinfotop {
    padding-bottom: 0;
  }


  .infos {}

  .l1 {
    transform: translateX(0px);
  }

  .l2 {
    transform: translateX(50px);
  }

  .l3 {
    transform: translateX(-10px);
  }

  .l4 {
    transform: translateX(20px);
  }

  .l5 {
    transform: translateX(-60px);
  }

  .l6 {
    transform: translateX(30px);
  }

  .wpp {}







}